@import 'utils/reset';
@import 'utils/libs';
@import 'utils/fonts';

:root {
  font-size: 10px;
  font-family: roboto sans-serif;
  color:#4D4D4D;
  h2{
    font-family: 'Raleway', sans-serif;
    font-size: 6.4rem;
    font-weight: 700;
  }
  h3{
    font-family: 'Raleway', sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
  }
  h4{
    font-family: 'Raleway', sans-serif;
    font-size: 3.6rem;
    font-weight: 500;
  }
  h5{
    font-family: Roboto, sans-serif;
    font-size: 2.4rem;
    font-weight: 500;
    color: #696969;
    margin:0;
  }
  p{
    font-size: 1.6rem;
    font-weight: 400;
    color:#696969;
    margin:0;
  }
}
#app{
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1440px;
  padding: 0 25px;
  margin:0 auto;

}
.transparent-button,.color-button{
  display: inline-block;
  margin: 0;
  padding: 12px 30px;
  background: none;
  border: 1px #6398DC solid;
  box-sizing: border-box;
  color: #6398DC;
  text-decoration: none;
  transition:all 0.2s linear;
  font-size: 1.8rem;
}
.transparent-button:hover{
  background: #6398DC;
  color:#fff;
}
.color-button{
  background: #6398DC;
  color:#fff;
}
.color-button:hover{
  background: #35913D;
  border: 1px #35913D solid;
  color:#fff;
}
.menu-wrapper{
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 5;
  &__unit{
    border-bottom: 1px solid #6398DC;
    .menu{
      &__list{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin:0;
        padding: 0;
        position: relative;
        li{
          display: flex;
          justify-content: center;
          width: auto;
        }
        &__logo{
          margin:auto auto auto 0;
          svg{
            margin:auto 0;
          }
          &__information{
            margin:auto 0 auto 10px;
            p,a{
              font-weight: 500;
              color: #6398DC;
              margin:0;
            }
            p{
              font-size: 2.4rem;
            }
            a{
              font-size: 1.8rem;
              text-decoration: none;
            }
          }
        }
        &__unit{
          margin:auto;
          a{
            color:#696969;
            font-size: 1.8rem;
            text-decoration: none;
            position: relative;
          }
          a::after{
            width: 0;
            position: absolute;
            content: '';
            height: 1px;
            background: #35913D;
            left: 0;
            bottom: -19px;
            transition: all 0.2s linear;
          }
          a:hover::after{
            width: 100%;
          }
          a:hover{
            color:#35913D;
          }
        }
        &__input{
          margin:auto;
          input{
            border-bottom: 1px solid #696969;
            color:#696969;
            font-size: 1.8rem;
            font-weight: 400;
            text-align: right;
            width: 92px;
          }
          svg{
            margin:auto 0 0 3px;
          }
        }
        &__cart{
          width: auto;
          margin:auto 0;
          position: relative;
          cursor: pointer;
          span{
            position: absolute;
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background: #35913D;
            top: -2px;
            right: -3px;
          }
        }
        &__button{
          margin:auto 0 auto 18px;
        }
      }
    }
    .menu__way{
      display: flex;
      padding: 19px 0;
      &__unit{
        margin:0 5px 0 0;
        a{
          font-size: 1.6rem;
          font-weight: 400;
          color:#696969;
          text-decoration: none;
        }
      }
    }
  }
  &__unit-way{
    display: block;
  }
}
footer{
  background: #6398DC;
  padding: 40px 0 90px 0;
  position: relative;
  .footer{
    display: flex;
    justify-content: space-between;
    &__wrapper{
      &__about-us{
        display: flex;
        &__logo{
          margin:0 23px auto 0;
        }
        &__description{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h5{
            color:#fff;
          }
          p{
            color:#fff;
            margin:17px 0 0 0;
          }
        }
      }
      &__links,&__feedback,&__social-networks{
        display: flex;
        flex-direction: column;

        a {
          font-weight: 400;
          font-size: 1.8rem;
          color: #fff;
          text-decoration: none;
          margin: 0 0 10px 0;
          transition: all 0.2s ease;
        }
      }
      &__social-networks{
        &__logo{
          margin:0 0 16px 0;
          a{
            svg{
              margin:0 10px 0 0;
              transition: all 0.2s ease;
            }
          }
          a:hover{
            svg{
              transform: scale(1.3,1.3);
            }
          }
        }
      }
    }
  }
}
.main-page{
  padding: 126px 0 0 0;
  width: 100%;
  &__description{
    display: table;
    width: 100%;
    height: 100%;
    &__information{
      width: 50%;
      display: table-cell;
      vertical-align: top;
      height: 100%;
      h2{
        span{
          background: #6398DC;
          color:#fff;
          margin: auto 0 auto 10px;
        }
      }
      &__buttons{
        margin: 72px 0 0 0;
        a{
          margin: 0 20px 0 0;
        }
      }
    }
    &__text{
      width: 50%;
      padding: 0 0 0 10%;
      display: table-cell;
      vertical-align: top;
      height: 100%;
      &__wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    &__buttons{
      display: none;
    }
  }
  &__activity-spheres{
    width: 100%;
    h2{
      color:#6398DC;
      svg{
        margin: 0 0 0 18px;
      }
    }
    p{
      width: 35%;
      margin:30px 0 0 0;
    }
    &__button{
      margin:70px 0 0 0;
    }
  }
  &__how-we-work,&__our-advantages,&__our-partners,&__feedback{
    margin:170px 0 0 0;
    h2{
      color:#6398DC;
      margin:0 0 70px;
    }
    &__block{
      margin:70px 0 0 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #6398DC;
      width: 100%;
      &__unit{
        width: 25%;
        border-right: 1px solid #6398DC;
        padding: 0 20px 10px 0;
        h5{
          color: #4D4D4D;
          padding:0 0 18px 0;
          min-height: 40px;
          margin:0;
        }
        p{
          margin: 0;
        }
      }
      &__unit:not(:first-child){
        padding: 0 20px 20px 20px;
      }
    }
  }
  &__our-advantages{
    &__list{
      h5{
        display: flex;
        justify-content: space-between;
        padding: 32px 0;
        position: relative;
        margin: 0;
        border-top: 1px solid #6398DC;
        span{
          color:#35913D;
          white-space: nowrap;
        }
      }
      h5:last-child{
        border-bottom: 1px solid #6398DC;
      }
    }
  }
  &__feedback{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0 120px 0;
    &__form{
      width: 51%;
      h2{
        margin:0 0 30px 0;
      }
      p{
        margin: 0 0 55px 0;
      }
      &__text-input{
        position: relative;
        input{
          width: 100%;
          padding: 25px;
          color: #696969;
          font-size: 1.6rem;
          font-weight: 400;
          border: 1px solid #4D4D4D;
          margin:15px 0;
          position: relative;
        }
        svg{
          position: absolute;
          right: 30px;
          top:40%;
          transform: translateX(-40%);
          visibility: hidden;
        }
      }
      &__text-input-success{
        input{
          color:#35913D;
          border: 1px solid #35913D;
        }
      }
      &__text-input-error{
        input{
          color:#6398DC;
          border: 1px solid #6398DC;
        }
        svg{
          visibility: visible;
        }
      }
      &__check-box{
        margin:0 0 70px 0;
        width: 50%;
        display: flex;
        input{
          display: none;
        }
        .check-box {
          border: 1px solid #6398DC;
          width: 19px;
          height: 19px;
          position: relative;
          background:none;
          margin:5px 7px auto 0;
          display: block;
          flex:0 0 auto;
        }
        .check-box:before{
          opacity: 0;
          position: absolute;
          top:3px;
          left: 3px;
          content: url('data:image/svg+xml; base64, PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEzIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMS4wMDc4IDEuMDEzN0w0Ljg2NDk2IDcuMTU2NTZMMS4wMDc4MSAzLjI5OTQxIiBzdHJva2U9IiM4NkM5RDEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=');;
          transition: all 0.2s ease;
        }
        input:checked + .check-box:before {
          opacity: 1;
        }
        .checkbox-text {
          font-size: 1.4rem;
          font-weight: 300;
          width: auto;
          display: inline-block;
        }
      }
      &__buttons{
        a{
          margin:0 20px 0 0;
        }
      }
    }
    &__information{
      width: 25%;
      &__unit{
        margin: 0 0 30px 0;
      }
    }
  }
}
.main-background{
  width: 100%;
  height: 450px;
  background: url('../../assets/img/mainBackground.png') no-repeat;
  background-size: cover;
  margin: 40px 0;
  position: relative;
}
.catalog {
  padding: 70px 0 0 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  table{
    border-collapse: collapse;
    margin:-1px 0 0 0;
    tr{
      th{
        border: 1px solid #6398DC;
      }
      td{
        border: 1px solid #6398DC;
      }
      .catalog__unit{
        height: 250px;
        box-sizing: border-box;
        border-collapse: inherit;
      }
      .catalog__unit-narrow,.catalog__unit-wide {
        padding: 25px;
        position: relative;
        cursor: pointer;
        transition: all 0.2s linear;
        .catalog__unit-narrow__description,.catalog__unit-wide__description {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          height: 100%;
          width: 100%;
          p {
            width: 100%;
            margin: 0;
            font-size: 2.4rem;
            font-weight: 400;
            color: #4D4D4D;
            transition: all 0.2s linear;
          }
          a {
            font-size: 1.8rem;
            font-weight: 400;
            border-bottom: 1px solid #4D4D4D;
            display: inline-block;
            width: 112px;
            text-decoration: none;
            color: #4D4D4D;
            transition: all 0.2s linear;
            svg {
              margin: 0 0 0 25px;

              path {
                transition: all 0.2s linear;
              }
            }
          }
        }
        img {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
      .catalog__unit-narrow {
        width: 25%;
      }
      .catalog__unit-wide {
        width: 50%;
        .catalog__unit-wide__description {
          p {
            width: 50%;
          }
        }
      }
      .catalog__unit-narrow:hover, .catalog__unit-wide:hover {
        background: #6398DC;
        .catalog__unit-narrow__description, .catalog__unit-wide__description {
          p {
            color: #fff;
          }
          a {
            color: #fff;
            border-bottom: 1px solid #fff;
            svg {
              path {
                fill: #fff;
              }
            }
          }
        }
      }
    }

  }
}
.our-partners{
  width: 100%;
  &__table{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__unit{
      width: calc(33.3% - 1px);
      padding: 23px 0;
      border: 1px solid #6398DC;
      margin:-1px -1px 0 0;
      img{
        display: block;
        margin:0 auto;
      }
    }
  }
}
.catalog-page{
  padding: 126px 0 0 0;
  width: 100%;
  .catalog{
    margin: 70px 0 170px 0;
  }
}
.catalog-selected{
  padding: 158px 0 60px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  &__type-list{
    display: flex;
    justify-content: space-between;
    &__title{
      display: flex;
      width: 100%;
      h2{
        color:#6398DC;
        margin:0 18px 0 0;
        width: auto;
        height: auto;
        display: block;
        line-height: 5.7rem;
        cursor: pointer;
      }
      svg{
        width: 34px;
        height: 22px;
        margin:22px 0 0 0;
        cursor: pointer;
      }
    }
    &__menu{
      display: none;
      flex-direction: column;
      margin: 0 0 -1px 0;
      a{
        font-size: 1.8rem;
        font-weight: 500;
        padding: 20px 0;
        text-decoration: none;
        color: #696969;
        border-bottom: 1px solid #6398DC;
        transition: all 0.5s ease;
      }
      a:hover{
        color: #6398DC;
      }
    }
  }
  &__type-list-active{
    border-bottom: 1px solid #6398DC;
    .catalog-selected__type-list__title{
      width: 60%;
      h2{
        width: 500px;
        height: 108px;
      }
      svg{
        transform: rotate(-90deg);
      }
    }
    .catalog-selected__type-list__menu{
      display: flex;
      width: 40%;
    }
  }
  &__filters{
    margin:40px 0 0 0;
    &__list{
      display: flex;
      a{
        position: relative;
        color: #696969;
        font-weight: 500;
        font-size: 1.6rem;
        text-decoration: none;
        margin:0 42px 0 0;
        transition: all 0.2s ease;
        svg{
          margin:0 0 0 3px;
          path{
            transition: all 0.2s ease;
          }
        }
      }
      a::after{
        position: absolute;
        content: '';
        width: 0;
        height: 1px;
        bottom:0;
        left: 0;
        background: #35913D;
        transition: all 0.2s ease;
      }
      a:hover{
        color:#35913D;
        svg{
          path{
            fill:#35913D;
          }
        }
      }
      a:hover::after{
        width: 100%;
      }
    }
    &__buttons{
      margin:70px 0 0 0;
      display: flex;
      justify-content: flex-start;
      &__simple{
        margin:0 20px 0 0;
        border: 1px solid #6398DC;
        cursor: pointer;
        width: 206px;
        height: auto;
        padding: 12px 20px 0 20px;
        position: relative;
        &__title{
          display: flex;
          justify-content: space-between;
          box-sizing: border-box;
          padding: 0 0 12px 0;
          a{
            font-size: 1.8rem;
            font-weight: 400;
            text-decoration: none;
            color:#4D4D4D;
          }
          position: relative;
        }
        &__list{
          height: 0;
          visibility: hidden;
          position: absolute;
          z-index: 2;
          background: #fff;
          width: 206px;
          transition: all 0.2s ease;
          display: flex;
          flex-direction: column;
          padding:12px 20px;
          border: 1px solid #6398DC;
          border-top:none;
          margin:0 0 0 -1px;
          cursor: auto;
          &__check-box{
            margin: 0 0 10px 0;
            display: flex;
            input{
              display: none;
            }
            .check-box {
              border: 1px solid #6398DC;
              width: 20px;
              height: 20px;
              position: relative;
              background:none;
              margin:auto 7px auto 0;
            }
            .check-box:before{
              opacity: 0;
              position: absolute;
              top:3px;
              left: 3px;
              content: url('data:image/svg+xml; base64, PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEzIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xMS4wMDc4IDEuMDEzN0w0Ljg2NDk2IDcuMTU2NTZMMS4wMDc4MSAzLjI5OTQxIiBzdHJva2U9IiM4NkM5RDEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=');;
              transition: all 0.2s ease;
            }
            input:checked + .check-box:before {
              opacity: 1;
            }
            .checkbox-text {
              font-size: 1.6rem;
              font-weight: 400;
              color:#696969;
              width: auto;
            }
          }
        }
      }
      &__simple-active{
        .catalog-selected__filters__buttons__simple__title{
          border-bottom: 1px solid #6398DC;
        }
        .catalog-selected__filters__buttons__simple__list{
          height: auto;
          visibility: visible;
          left:0;
        }
      }
      &__range{
        width: 206px;
        height: auto;
        padding: 12px 20px 0 20px;
        position: relative;
        border: 1px solid #6398DC;
        display: flex;
        &__wrapper{
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex:1;
          &__container{
            position: relative;
            padding:0 0 15px 0;
            input[type="range"]{
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              width: 100%;
              outline: none;
              position: absolute;
              margin: auto;
              top: 6px;
              bottom: 0;
              background-color: transparent;
              pointer-events: none;
            }
            &__slider-track{
              width: 100%;
              height: 2px;
              position: absolute;
              margin: auto;
              top: 0;
              bottom: 0;
              border-radius: 5px;
            }
            input[type="range"]::-webkit-slider-runnable-track{
              -webkit-appearance: none;
              height: 5px;
            }
            input[type="range"]::-moz-range-track{
              -moz-appearance: none;
              height: 5px;
            }
            input[type="range"]::-ms-track{
              appearance: none;
              height: 5px;
            }
            input[type="range"]::-webkit-slider-thumb{
              -webkit-appearance: none;
              height: 1.7em;
              width: 1.7em;
              background-color: #35913D;
              cursor: pointer;
              margin-top: -9px;
              pointer-events: auto;
              border-radius: 50%;
            }
            input[type="range"]::-moz-range-thumb{
              -webkit-appearance: none;
              height: 1.7em;
              width: 1.7em;
              cursor: pointer;
              border-radius: 50%;
              background-color: #3264fe;
              pointer-events: auto;
            }
            input[type="range"]::-ms-thumb{
              appearance: none;
              height: 1.7em;
              width: 1.7em;
              cursor: pointer;
              border-radius: 50%;
              background-color: #3264fe;
              pointer-events: auto;
            }
            input[type="range"]:active::-webkit-slider-thumb{
              background-color: #ffffff;
              border: 3px solid #35913D;
            }
          }
          &__values{
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
            span{
              color:#696969;
              font-weight: 400;
            }
          }
        }
        p{
          font-size: 1.8rem;
          font-weight: 400;
          padding: 0 0 0 7px;
        }
      }
    }
  }
  &__product-table{
    margin:50px 0 60px 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    &__unit{
      width: 23%;
      padding: 35px 25px;
      margin: 40px 10px 0 10px;
      border: 1px solid #6398DC;
      box-sizing: border-box;
      &__body{
        display: flex;
        justify-content: space-between;
        width: 100%;
        p{
          width: 60%;
        }
        &__button{
          background: #6398DC;
          width: 43px;
          height: 43px;
          position: relative;
          border-radius: 50%;
          cursor: pointer;
          transition: all 0.3s ease;
          svg{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            path{
              transition: all 0.3s ease;
            }
          }
        }
        &__button:hover{
          background: #35913D;
          transform: scale(1.1,1.1);
        }
      }
      &__price{
        display: flex;
        justify-content: flex-start;
        p{
          color:#6398DC;
          font-weight: 500;
          font-size: 2.4rem;
          margin:0 5px 0 0;
        }
        span{
          color:#696969;
          font-weight: 400;
          font-size: 14px;
          margin:auto 0;
          text-decoration: line-through;
        }
      }
    }
  }
  &__button{
    align-self: center;
  }
}
.product-card{
  padding: 158px 0 60px 0;
  display: flex;
  flex-direction: column;
  &__information{
    display: flex;
    justify-content: space-between;
    &__image{
      width: 40%;
      img{
        width: 100%;
        height: 543px;
        object-fit: cover;
        border: 1px solid #6398DC;
      }
    }
    &__description{
      width: 50%;
      h3{
        color:#6398DC;
        padding: 0 0 30px 0;
        margin:0;
      }
      h4{
        color:#4D4D4D;
        margin:0;
      }
      p{
        line-height: normal;
        span{
          text-decoration: line-through;
          font-size: 1.8rem;
        }
      }
      &__buttons{
        padding: 70px 0 30px 0;
        a{
          margin:0 20px 0 0;
        }
      }
      span{
        font-size: 1.4rem;
        color:#696969;
        font-weight: 400;
      }
    }
  }
  &__technical-details{
    padding: 70px 0 0 0;
    display: flex;
    justify-content: space-between;
    &__list{
      width: 40%;
      &__unit{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        border-top:1px solid #6398DC;
        border-bottom:1px solid #6398DC;
        margin:-1px 0 0 0;
        p{
          color: #696969;
          font-size: 1.8rem;
          font-weight: 500;
        }
        span{
          color: #696969;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
    }
    &__description{
      width: 50%;
      p{
        font-size: 1.6rem;
        color:#696969;
        font-weight: 400;
      }
    }
    &__list,&__description{
      h4{
        color:#4D4D4D;
        padding: 0 0 50px 0;
      }
    }
  }
  &__catalog{
    padding: 70px 0 0 0;
  }
}
.cart{
  padding: 70px 0 170px 0;
  width: 100%;
  h2{
    color:#6398DC;
    padding: 70px 0;
  }
  &__empty{
    display: none;
    text-align: center;
    h4{
      color:#4D4D4D;
      font-weight: 400;
    }
  }
  &__content{
    display: flex;
    flex-direction: column;
    &__line{
      border-top: 1px solid #6398DC;
      border-bottom: 1px solid #6398DC;
      margin:-1px 0 0 0;
      display: flex;
      width: 100%;
      &__order-form{
        padding: 25px 0 25px 28px;
        margin:25px 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h5{
          padding: 0 0 10px 0;
          margin:0;
        }
        p{
          font-weight: 400;
          font-size: 1.6rem;
          margin:0;
        }
        &__text-input{
          width: 60%;
          position: relative;
          input{
            font-size: 1.6rem;
            color:#696969;
            border-bottom:1px solid #4D4D4D;
            padding: 15px 0;
            width: 100%;
            position: relative;
            transition: all 0.5s ease;
          }
          svg{
            visibility: hidden;
            opacity: 0;
            position: absolute;
            right: 0;
            top:50%;
            transform: translateY(-50%);
            transition: all 0.5s ease;
          }
        }
        &__text-input-error{
          input{
            border-bottom:1px solid #6398DC;
            color:#6398DC;
          }
          input::placeholder{
            color:#6398DC;
          }
          svg{
            visibility: visible;
            opacity: 1;
          }
        }
        &__button{
          flex:1;
          display: flex;
          align-items: flex-end;
        }
      }
      &__unit{
        margin:25px 0;
        padding: 25px 28px;
        width: 50%;
        display: flex;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &__image{
          width: 60%;
          height: 100%;
          border: 1px solid #6398DC;
          box-sizing: border-box;
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__information{
          padding: 0 0 0 21px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &__description{
            display: flex;
            flex-direction: column;
            &__name{
              p{
                font-size: 2.4rem;
                color:#4D4D4D;
                font-weight: 400;
              }
            }
            &__price{
              display: flex;
              p{
                font-size: 2.4rem;
                color:#4D4D4D;
                font-weight: 500;
              }
              span{
                text-decoration: line-through;
                font-size: 1.4rem;
                color:#696969;
                font-weight: 400;
                margin: auto 0 auto 5px;
              }
            }
          }
          &__buttons{
            display: flex;
            justify-content: space-between;
            svg{
              cursor: pointer;
              transition: all 0.2s ease;
              align-self: flex-end;
              path{
                transition: all 0.2s ease;
                fill:#6398DC;
              }
            }
            svg:hover{
              transform: scale(1.1,1.1);
              path{
                fill: #e30000;
              }
            }
            &__counter{
              display: flex;
              border:1px solid #6398DC;
              padding: 12px 15px;
              .decrease,.increase{
                cursor: pointer;
                margin:auto 0;
                transition: all 0.2s ease;
                svg{
                  path{
                    fill:#6398DC;
                  }
                  line{
                    stroke:#6398DC;
                  }
                }
              }
              .decrease{
                padding: 0 5px 0 0;
              }
              .decrease:hover{
                svg{
                  line{
                    stroke:#e30000;
                  }
                }
              }
              .increase{
                padding: 0 0 0 5px;
              }
              .increase:hover{
                svg{
                  path{
                    fill: #35913D;
                  }
                }
              }
              .number{
                width: 60px;
                text-align: center;
                overflow:hidden;
                font-size: 1.8rem;
                font-weight: 400;
                color:#6398DC;
                cursor:default;
              }
            }
          }
        }
      }
      &__unit:first-child{
        border-right: 1px solid #6398DC;
        padding: 25px 28px 25px 0;
      }
    }
  }
}
.modal-thanks{
  background: #fff;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  &__block{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border: 1px solid #6398DC;
    padding:50px 110px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__description{
      display: flex;
      justify-content: space-between;
      padding: 0 0 120px 0;
      &__text{
        h3{
          color:#6398DC;
          font-weight: 700;
          padding:0 0 30px 0;
          margin:0;
        }
        p{
          font-size: 1.6rem;
          color:#696969;
          font-weight: 400;
        }
      }
      svg{
        margin:20px 0 0 0;
        cursor: pointer;
      }
    }
    &__catalog{
      &__list{
        display: flex;
        justify-content: space-between;
        padding: 30px 0 0 0;
        &__unit{
          border: 1px solid #6398DC;
          margin:0 20px 0 0;
          display: block;
          transition: all 0.2s ease;
        }
        &__unit:last-child{
          margin:0;
        }
      }
    }
  }
}
.modal-call{
  background: #fff;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  &__block{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border: 1px solid #6398DC;
    padding:50px 110px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &__description{
      display: flex;
      justify-content: space-between;
      padding: 0 0 70px 0;
      &__text{
        h3{
          color:#6398DC;
          font-weight: 700;
          padding:0 0 30px 0;
          margin:0;
        }
        p{
          width: 60%;
          font-size: 1.6rem;
          color:#696969;
          font-weight: 400;
        }
      }
      svg{
        margin:20px 0 0 0;
        cursor: pointer;
      }
    }
    &__form{
      .main-page__feedback__form__check-box{
        width: 65%;
      }
    }
  }
}
.technical-library{
  padding: 158px 0 60px 0;
  display: flex;
  flex-direction: column;
  &__type-list{
    display: flex;
    justify-content: space-between;
    margin:0 0 70px 0;
    &__title{
      display: flex;
      width: 100%;
      h2{
        color:#6398DC;
        margin:0 18px 0 0;
        width: auto;
        height: auto;
        display: block;
        line-height: 5.7rem;
        cursor: pointer;
      }
      svg{
        width: 34px;
        height: 22px;
        margin:22px 0 0 0;
        cursor: pointer;
      }
    }
    &__menu{
      display: none;
      flex-direction: column;
      margin: 0 0 -1px 0;
      a{
        font-size: 1.8rem;
        font-weight: 500;
        padding: 20px 0;
        text-decoration: none;
        color: #696969;
        border-bottom: 1px solid #6398DC;
        transition: all 0.5s ease;
      }
      a:hover{
        color: #6398DC;
      }
    }
  }
  &__type-list-active{
    border-bottom: 1px solid #6398DC;
    .technical-library__type-list__title{
      width: 60%;
      h2{
        width: 85%;
        height: 108px;
      }
      svg{
        transform: rotate(-90deg);
      }
    }
    .technical-library__type-list__menu{
      display: flex;
      width: 40%;
    }
  }
}
.certificates{
  padding: 158px 0 60px 0;
  h2{
    color:#6398DC;
    padding: 0 0 70px 0;
  }
  &__table{
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__unit{
      width: 33.5%;
      padding: 14px 33px;
      border: 1px solid #6398DC;
      margin: -1px -1px 0 0;
      display: flex;
      flex-direction: column;
      h5{
        margin:0;
        padding: 0 0 10px 0;
        font-weight: 400;
        color:#4D4D4D;
      }
      p{
        font-weight: 400;
        color:#696969;
        margin: 0;
        padding: 0 0 40px 0;
      }
      &__button{
        display: flex;
        flex: 1;
        a{
          font-weight: 400;
          font-size: 1.8rem;
          color:#4D4D4D;
          margin:0;
          border-bottom: 1px solid #4D4D4D;
          text-decoration: none;
          align-self: flex-end;
          transition: all 0.2s ease;
          svg{
            path{
              transition: all 0.2s ease;
            }
          }
        }
        a:hover{
          color:#35913D;
          border-bottom: 1px solid #35913D;
          svg{
            path{
              fill: #35913D;
            }
          }
        }
      }
    }
  }
}
.selection-programs{
  padding: 158px 0 170px 0;
  h2{
    color:#6398DC;
    padding: 0 0 70px 0;
  }
  &__table{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__unit{
      display: flex;
      width: 100%;
      margin:-1px 0 0 0;
      &__description{
        width: 68%;
        padding: 22px 27px 22px 0;
        border-top: 1px solid #6398DC;
        border-bottom: 1px solid #6398DC;
        &__information{
          display: flex;
          justify-content: space-between;
          padding: 0 0 18px 0;
          p,a{
            color:#696969;
            font-weight: 400;
            font-size: 1.6rem;
            text-decoration: none;
            transition: all 0.5s ease;
          }
          a:hover{
            color:#35913D;
          }
        }
      }
      &__image{
        width: 32%;
        padding: 22px 90px;
        border: 1px solid #6398DC;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    &__unit:last-child{
      .selection-programs__table__unit__description{
        border-bottom: none;
      }
    }
  }
}
.catalog-of-product{
  padding: 158px 0 170px 0;
  h2{
    color:#6398DC;
    padding: 0 0 70px 0;
  }
  &__table{
    display: flex;
    flex-direction: column;
    &__unit{
      padding: 0 0 50px 0;
      h4{
        font-size: 3.6rem;
        font-weight: 500;
        color:#4D4D4D;
      }
      &__information{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #6398DC;
        border-bottom: 1px solid #6398DC;
        padding: 15px 0;
        margin: -1px 0 0 0;
        a,p{
          color:#696969;
          font-weight: 400;
          font-size: 1.6rem;
          transition: all 0.2s ease;
          text-decoration: none;
        }
        a:hover{
          color:#35913D;
        }
      }
    }
  }
}
.search{
  padding: 158px 0 60px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  h2{
    padding: 0 0 68px 0;
    color:#6398DC;
  }
  &__form{
    width: 50%;
    display: flex;
    justify-content: space-between;
    input{
      color:#696969;
      font-size: 1.6rem;
      font-weight: 400;
      border-bottom: 1px solid #6398DC;
      padding: 12px 0;
      margin:0 20px 0 0;
      width: 100%;
    }
    input::placeholder{
      color:#696969;
      font-size: 1.6rem;
      font-weight: 400;
    }
  }
}
.menu-wrapper{
  .mobile-menu{
    display: none;
  }
}

@media screen and (max-width:1200px){
  .catalog{
    table{
      border-collapse: separate;
      tr{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .catalog__unit-narrow{
          width: calc(50% - 4px);
        }
        .catalog__unit-narrow:first-child{
          margin: 8px 8px 0 0;
        }
        .catalog__unit-wide{
          width: 100%;
        }
        .catalog__unit{
          margin:8px 0 0 0;
        }
      }
    }
  }
}
@media screen and (max-width:992px){
  :root {
    font-size: 10px;
    font-family: roboto sans-serif;
    color:#4D4D4D;
    h2{
      font-family: 'Raleway', sans-serif;
      font-size: 3.2rem;
      font-weight: 700;
    }
    h3{
      font-family: 'Raleway', sans-serif;
      font-size: 4.8rem;
      font-weight: 700;
    }
    h4{
      font-family: 'Raleway', sans-serif;
      font-size: 1.8rem;
      font-weight: 500;
    }
    h5{
      font-family: Roboto, sans-serif;
      font-size: 1.8rem;
      font-weight: 500;
      color: #696969;
      margin:0;
    }
    p{
      font-size: 1.4rem;
      font-weight: 400;
      color:#696969;
      margin:0;
    }
  }
  .menu-wrapper{
    .menu{
      display: none;
    }
    &__unit-way{
      display: none;
    }
    .mobile-menu{
      display: flex;
      justify-content: space-between;
      padding: 16px 0;
      &__logo{
        display: flex;
        svg{
          margin:auto 0;
        }
        p{
          font-size: 1.8rem;
          color: #6398DC;
          margin: auto 0;
          padding: 0 0 0 16px;
        }
      }
      &__buttons{
        display: flex;
        &__search,&__cart,&__burger{
          margin: auto 0 auto 16px;
          cursor: pointer;
        }
        &__cart{
          position: relative;
          svg{
            position: relative;
          }
          span{
            width: 10px;
            height: 10px;
            content: '';
            border-radius: 100%;
            position: absolute;
            top:-2px;
            right: -3px;
            background: #35913D;
          }
        }
        &__burger{
          position: relative;
          &__button{
            width: 35px;
            height: 1px;
            content: '';
            background: #696969;
            position: relative;
          }
          &__button:before,&__button:after{
            position: absolute;
            content: '';
            background: #696969;
            width: 35px;
            height: 1px;
          }
          &__button:before{
            top:-6px;
          }
          &__button:after{
            bottom: -6px;
          }
          &__block{
            position: fixed;
            right: 0;
            top:0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            overflow-y: scroll;
            display: none;
            &__modal{
              display: flex;
              justify-content: flex-end;
              width: auto;
              height: auto;
              &__content{
                display: flex;
                flex-direction: column;
                text-align: end;
                width: auto;
                background: #fff;
                height: 100%;
                padding: 60px 0 60px 87px;
                h2{
                  font-size: 2.4rem;
                  font-weight: 700;
                  color:#6398DC;
                  margin:0;
                  padding: 0 0 60px 0;
                }
                &__list{
                  display: flex;
                  flex-direction: column;
                  a{
                    font-size: 1.8rem;
                    font-weight: 400;
                    color:#696969;
                    text-decoration: none;
                    transition: all 0.2s linear;
                    margin:0;
                    padding: 15px 0;
                  }
                  a:hover{
                    color:#6398DC;
                  }
                  a:last-child{
                    padding: 15px 0 30px 0;
                  }
                }
                &__social-network{
                  display: flex;
                  justify-content: flex-end;
                  border-top: 1px solid #6398DC;
                  border-bottom: 1px solid #6398DC;
                  padding: 30px 0;
                  svg{
                    margin:0 0 0 8px;
                    transition: all 0.2s linear;
                  }
                  svg:hover{
                    transform: scale(1.1,1.1);
                  }
                }
                &__contacts{
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;
                  padding: 15px 0;
                  a{
                    color:#696969;
                    font-weight: 400;
                    font-size: 1.8rem;
                    text-decoration: none;
                    padding: 15px 0;
                  }
                }
                &__buttons{
                  display: flex;
                  flex-direction: column;
                  padding: 15px 0;
                  text-align: center;
                  a{
                    margin: 15px 0;
                  }
                }
              }
              &__button{
                background: #fff;
                padding: 66px 20px;
              }
            }
          }
        }
      }
    }
  }
  .main-page{
    h2{
      svg{
        width: 19px;
        height: 19px;
      }
    }
    &__description{
      display: flex;
      flex-direction: column;
      &__information,&__text{
        width: 100%;
      }
      &__information{
        &__buttons{
          display: none;
        }
      }
      &__text{
        padding: 20px 0 30px 0;
      }
      &__buttons{
        display: flex;
        justify-content: space-between;
      }
    }
    &__activity-spheres{
      padding: 40px 0 0 0;
      p{
        width: 100%;
      }
    }
    &__how-we-work{
      width: 100%;
      &__block{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        border: none;
        &__unit{
          width: 50%;
          margin:20px 0 0 0;
          border-right: 1px solid #6398dc;
          border-bottom: 1px solid #6398dc;
          padding: 0 20px 20px 20px;
        }
        &__unit:nth-child(odd){
          padding: 0 20px 20px 0;
        }
      }
    }
    &__feedback{
      flex-direction: column;
      &__form,&__information{
        width: 100%;
      }
      &__information{
        margin:40px 0 0 0;
      }
    }
  }
  .main-page-second{
    padding: 0;
  }
  .catalog{
    padding: 40px 0 0 0;
    position: relative;
    &__unit-narrow {
      width: 50%;
    }
    &__unit-wide {
      width: 100%
    }
  }
  .our-partners{
    display: flex;
    &__table{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &__unit{
        margin:8px 0 0 0;
        width: calc(50% - 8px);
      }
    }
  }
  .main-background{
    width: 100%;
    height: 383px;
    background: url('../../assets/img/mainBackground.png') center;
    background-size: auto 100%;
    margin: 40px 0;
    position: relative;
  }
}
@media screen and (max-width:768px){
  .container{
    padding: 0 18px;
  }
  footer{
    .footer{
      flex-wrap: wrap;
      &__wrapper{
        width: 50%;
        display: flex;
        justify-content: space-between;
        &__links,&__social-networks{
          margin:0 0 0 auto;
        }
        &__feedback,&__social-networks{
          padding: 30px 0;
        }
      }
    }
  }
  .main-page{
    &__activity-spheres{
      padding: 0;
      &__button{
        margin:30px 0 0 0;
      }
    }
    &__how-we-work,&__our-advantages,&__feedback{
      margin:60px 0 0 0;
      h2{
        margin:0 0 40px 0;
      }
      &__block{
        margin:0;
      }
    }
    &__feedback{
      padding: 0 0 30px 0;
      &__form{
        &__text-input{
          input{
            padding: 20px 16px;
          }
        }
        &__check-box{
          width: 100%;
          margin:0 0 30px 0;
        }
        &__buttons{
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
@media screen and (max-width:576px){
  .catalog{
    padding: 0 0 20px 0;
    table {
      tr{
        .catalog__unit{
          height: 154px;
        }
        .catalog__unit-wide,.catalog__unit-narrow{
          padding: 12px 15px;
          .catalog__unit-wide__description,.catalog__unit-narrow__description {
            p, a {
              font-size: 1.4rem;
            }
          }
          img{
            max-width: 141px;
            max-height: 184px;
          }
        }
      }
    }
  }
  footer{
    .footer{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      &__wrapper{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin:30px 0 0 0;
        &__links,&__feedback,&__social-networks{
          margin:0 0 0 85px;
          padding: 0;
        }
      }
    }
  }
  .our-partners{
    &__table{
      &__unit{
        img{
          width: 80%;
        }
      }
    }
  }
  .main-page{
    &__how-we-work{
      &__block{
        &__unit,&__unit:nth-child(odd),&__unit:not(:first-child){
          width: 100%;
          padding: 0 20px 20px 0;
        }
      }
    }
    &__feedback{
      &__form{
        &__buttons{
          a{
            margin:0;
          }
          a:first-child{
            margin: 0 8px 0 0;
          }
        }
      }
    }
  }
  .transparent-button,.color-button{
    font-size: 1.4rem;
    padding: 10px 12px;
  }
}
@media screen and (max-width:320px){

}