@import 'utils/reset';
@import 'utils/libs';
@import 'utils/fonts';

:root {
  font-size: 10px;
  font-family: roboto sans-serif;
}
.transparent-button,.color-button{
  display: inline-block;
  margin: 0;
  padding: 12px 30px;
  background: none;
  border: 1px #6398DC solid;
  box-sizing: border-box;
  color: #6398DC;
  text-decoration: none;
  transition:all 0.2s linear;
  font-size: 1.8rem;
}
.transparent-button:hover{
  background: #6398DC;
  color:#fff;
}
.color-button{
  background: #6398DC;
  color:#fff;
}
.color-button:hover{
  background: none;
  color:#6398DC;
}
.container {
  max-width: 1440px;
  padding: 0 25px;
  margin:0 auto;
}
.menu{
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #6398DC;
  &__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:0;
    padding: 0 20px;
    position: relative;
    li{
      display: flex;
      justify-content: center;
      width: auto;
    }
    &__logo{
      margin:auto;
      svg{
        margin:auto 0;
      }
      &__information{
        margin:auto 0 auto 10px;
        p,a{
          font-weight: 500;
          color: #6398DC;
          margin:0;
        }
        p{
          font-size: 2.4rem;
        }
        a{
          font-size: 1.8rem;
          text-decoration: none;
        }
      }
    }
    &__unit{
      margin:auto;
      a{
        color:#696969;
        font-size: 1.8rem;
        text-decoration: none;
        position: relative;
      }
      a::after{
        width: 0;
        position: absolute;
        content: '';
        height: 1px;
        background: #35913D;
        left: 0;
        bottom: -19px;
        transition: all 0.2s linear;
      }
      a:hover::after{
        width: 100%;
      }
      a:hover{
        color:#35913D;
      }
    }
    &__input{
      margin:auto;
      input{
        border-bottom: 1px solid #696969;
        color:#696969;
        font-size: 1.8rem;
        font-weight: 400;
        text-align: right;
        width: 92px;
      }
      svg{
        margin:auto 0 0 3px;
      }
    }
    &__cart{
      width: auto;
      margin:auto 0;
      position: relative;
      cursor: pointer;
      span{
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background: #35913D;
        top: -2px;
        right: -3px;
      }
    }
    &__button{
      margin:auto auto auto 18px;
    }
  }
}