.catalog
    table
        tr
            th.catalog__unit-narrow.catalog__unit
                .catalog__unit-narrow__description
                    p Промышленное холодильное фреоновое оборудование
                    a(href="#")
                        | в каталог
                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.1709L8.37257 3.06095L8.39422 8.19944L9.76694 8.19366L9.73542 0.711643L2.25341 0.743162L2.25919 2.11588L7.39768 2.09424L0.347405 9.20416L1.3223 10.1709Z" fill="#4D4D4D"/></svg>
            th.catalog__unit-narrow.catalog__unit
                .catalog__unit-narrow__description
                    p Промышленное холодильное фреоновое оборудование
                    a(href="#")
                        | в каталог
                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.1709L8.37257 3.06095L8.39422 8.19944L9.76694 8.19366L9.73542 0.711643L2.25341 0.743162L2.25919 2.11588L7.39768 2.09424L0.347405 9.20416L1.3223 10.1709Z" fill="#4D4D4D"/></svg>
            th.catalog__unit-wide.catalog__unit
                .catalog__unit-wide__description
                    p Коммерческое холодильное оборудование
                    a(href="#")
                        | в каталог
                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.1709L8.37257 3.06095L8.39422 8.19944L9.76694 8.19366L9.73542 0.711643L2.25341 0.743162L2.25919 2.11588L7.39768 2.09424L0.347405 9.20416L1.3223 10.1709Z" fill="#4D4D4D"/></svg>
                img(src='../../assets/img/catalog1.png')
    table
        tr
            td.catalog__unit-wide.catalog__unit
                .catalog__unit-wide__description
                    p Коммерческое холодильное оборудование
                    a(href="#")
                        | в каталог
                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.1709L8.37257 3.06095L8.39422 8.19944L9.76694 8.19366L9.73542 0.711643L2.25341 0.743162L2.25919 2.11588L7.39768 2.09424L0.347405 9.20416L1.3223 10.1709Z" fill="#4D4D4D"/></svg>
                img(src='../../assets/img/catalog1.png')
            td.catalog__unit-narrow.catalog__unit
                .catalog__unit-narrow__description
                    p Промышленное холодильное фреоновое оборудование
                    a(href="#")
                        | в каталог
                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.1709L8.37257 3.06095L8.39422 8.19944L9.76694 8.19366L9.73542 0.711643L2.25341 0.743162L2.25919 2.11588L7.39768 2.09424L0.347405 9.20416L1.3223 10.1709Z" fill="#4D4D4D"/></svg>
            td.catalog__unit-narrow.catalog__unit
                .catalog__unit-narrow__description
                    p Промышленное холодильное фреоновое оборудование
                    a(href="#")
                        | в каталог
                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.1709L8.37257 3.06095L8.39422 8.19944L9.76694 8.19366L9.73542 0.711643L2.25341 0.743162L2.25919 2.11588L7.39768 2.09424L0.347405 9.20416L1.3223 10.1709Z" fill="#4D4D4D"/></svg>
    table
        tr
            td.catalog__unit-narrow.catalog__unit
                .catalog__unit-narrow__description
                    p Промышленное холодильное фреоновое оборудование
                    a(href="#")
                        | в каталог
                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.1709L8.37257 3.06095L8.39422 8.19944L9.76694 8.19366L9.73542 0.711643L2.25341 0.743162L2.25919 2.11588L7.39768 2.09424L0.347405 9.20416L1.3223 10.1709Z" fill="#4D4D4D"/></svg>
            td.catalog__unit-narrow.catalog__unit
                .catalog__unit-narrow__description
                    p Промышленное холодильное фреоновое оборудование
                    a(href="#")
                        | в каталог
                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.1709L8.37257 3.06095L8.39422 8.19944L9.76694 8.19366L9.73542 0.711643L2.25341 0.743162L2.25919 2.11588L7.39768 2.09424L0.347405 9.20416L1.3223 10.1709Z" fill="#4D4D4D"/></svg>
            td.catalog__unit-wide.catalog__unit
                .catalog__unit-wide__description
                    p Коммерческое холодильное оборудование
                    a(href="#")
                        | в каталог
                        <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.1709L8.37257 3.06095L8.39422 8.19944L9.76694 8.19366L9.73542 0.711643L2.25341 0.743162L2.25919 2.11588L7.39768 2.09424L0.347405 9.20416L1.3223 10.1709Z" fill="#4D4D4D"/></svg>
                img(src='../../assets/img/catalog1.png')