.modal-thanks
    .modal-thanks__block
        .modal-thanks__block__description
            .modal-thanks__block__description__text
                h3 Благодарим за покупку!
                p Мы рады, что Вы выбрали ООО «КХЧ»
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.3438 3.46861L17.5311 0.65625L10.5 7.68764L3.46861 0.65625L0.65625 3.46861L7.68731 10.5L0.65625 17.5314L3.46861 20.3438L10.5 13.3124L17.5311 20.3438L20.3438 17.5314L13.312 10.5L20.3438 3.46861Z" fill="#696969"/></svg>
        .modal-thanks__block__catalog
            p Рекомендуем посмотреть эти товары:
            .modal-thanks__block__catalog__list
                a(href='#').modal-thanks__block__catalog__list__unit
                    img(src='../../assets/img/catalog-selected1.png')
                a(href='#').modal-thanks__block__catalog__list__unit
                    img(src='../../assets/img/catalog-selected1.png')
                a(href='#').modal-thanks__block__catalog__list__unit
                    img(src='../../assets/img/catalog-selected1.png')