.our-partners
    .our-partners__table
        .our-partners__table__unit
            img(src='../../assets/img/partner1.png')
        .our-partners__table__unit
            img(src='../../assets/img/partner2.png')
        .our-partners__table__unit
            img(src='../../assets/img/partner3.png')
    .our-partners__table
        .our-partners__table__unit
            img(src='../../assets/img/partner4.png')
        .our-partners__table__unit
            img(src='../../assets/img/partner5.png')
        .our-partners__table__unit
            img(src='../../assets/img/partner6.png')
    .our-partners__table
        .our-partners__table__unit
            img(src='../../assets/img/partner7.png')
        .our-partners__table__unit
            img(src='../../assets/img/partner8.png')
        .our-partners__table__unit
            img(src='../../assets/img/partner9.png')
    .our-partners__table
        .our-partners__table__unit
            img(src='../../assets/img/partner10.png')
        .our-partners__table__unit
            img(src='../../assets/img/partner11.png')
        .our-partners__table__unit
            img(src='../../assets/img/partner12.png')
    .our-partners__table
        .our-partners__table__unit
            img(src='../../assets/img/partner13.png')
        .our-partners__table__unit
            img(src='../../assets/img/partner14.png')
        .our-partners__table__unit
            img(src='../../assets/img/partner15.png')