extends ../layouts/master

block title
    link(rel="stylesheet", href="assets/css/styles.min.css")

block content
    include ../includes/modules/menu

    .container
        .catalog-of-product
            h2 Каталоги Danfoss
            .catalog-of-product__table
                .catalog-of-product__table__unit
                    h4 Запасные части
                    .catalog-of-product__table__unit__information
                        p Danfoss. Запасные части и опции для компрессоров.
                        a(href='#') Скачать
                .catalog-of-product__table__unit
                    h4 Компрессорное оборудование
                    .catalog-of-product__table__unit__information
                        p Danfoss Maneurop MT, MTZ, NTZ. Поршневые герметичные компрессоры.
                        a(href='#') Скачать
                    .catalog-of-product__table__unit__information
                        p Danfoss Optima. Агрегаты 50 Гц.
                        a(href='#') Скачать
                    .catalog-of-product__table__unit__information
                        p Danfoss. Агрегаты Optima Slim Pack
                        a(href='#') Скачать
                    .catalog-of-product__table__unit__information
                        p Danfoss. Спиральные герметичные компрессоры MLZ, LLZ.
                        a(href='#') Скачать
                    .catalog-of-product__table__unit__information
                        p Danfoss. Спиральные компрессоры HRM, HLM, HCM
                        a(href='#') Скачать
                    .catalog-of-product__table__unit__information
                        p Danfoss. Спиральные компрессоры SH.
                        a(href='#') Скачать
                    .catalog-of-product__table__unit__information
                        p Danfoss. Спиральные компрессоры SM, SY, SZ.
                        a(href='#') Скачать


                .catalog-of-product__table__unit
                    h4 Контроллеры
                    .catalog-of-product__table__unit__information
                        p Danfoss. Блоки питания AK‑PS.
                        a(href='#') Скачать
                    .catalog-of-product__table__unit__information
                        p Danfoss. Выносной дисплей MMIGRS2.
                        a(href='#') Скачать
                    .catalog-of-product__table__unit__information
                        p Danfoss. Выносные дисплеи EKA 163, 164
                        a(href='#') Скачать
                    .catalog-of-product__table__unit__information
                        p Danfoss. Датчик влажности EMHS‑3‑1.
                        a(href='#') Скачать
                    .catalog-of-product__table__unit__information
                        p Danfoss. Датчик давления AKS 32.
                        a(href='#') Скачать
                    .catalog-of-product__table__unit__information
                        p Danfoss. Датчик давления NSK.
                        a(href='#') Скачать
                    .catalog-of-product__table__unit__information
                        p Danfoss. Датчик освещенности PHOTO‑OD‑1.
                        a(href='#') Скачать
                    .catalog-of-product__table__unit__information
                        p Danfoss. Датчик температуры AKS 11
                        a(href='#') Скачать

    block content
        include ../includes/modules/footer

block scripts
    script(src="assets/scripts/main.js")