extends ../layouts/master

block title
    link(rel="stylesheet", href="assets/css/styles.min.css")

block content
    include ../includes/modules/menu

    .container
        .certificates
            h2 Сертификаты
            .certificates__table
                .certificates__table__unit
                    h5 Bitzer
                    p ДС на винтовые и спиральные компрессора
                    .certificates__table__unit__button
                        a(href='#')
                            | скачать
                            | <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.171L8.37257 3.06108L8.39422 8.19956L9.76694 8.19378L9.73542 0.711765L2.25341 0.743284L2.25919 2.11601L7.39768 2.09436L0.347405 9.20428L1.3223 10.171Z" fill="#4D4D4D"/></svg>
                .certificates__table__unit
                    h5 Bitzer
                    p ДС на компрессоры холодные поршневые
                    .certificates__table__unit__button
                        a(href='#')
                            | скачать
                            | <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.171L8.37257 3.06108L8.39422 8.19956L9.76694 8.19378L9.73542 0.711765L2.25341 0.743284L2.25919 2.11601L7.39768 2.09436L0.347405 9.20428L1.3223 10.171Z" fill="#4D4D4D"/></svg>
                .certificates__table__unit
                    h5 Bitzer
                    p ДС на кожухотрубные конденсаторы
                    .certificates__table__unit__button
                        a(href='#')
                            | скачать
                            | <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.171L8.37257 3.06108L8.39422 8.19956L9.76694 8.19378L9.73542 0.711765L2.25341 0.743284L2.25919 2.11601L7.39768 2.09436L0.347405 9.20428L1.3223 10.171Z" fill="#4D4D4D"/></svg>
            .certificates__table
                .certificates__table__unit
                    h5 Bitzer
                    p ДС на кожухотрубные маслоохладители
                    .certificates__table__unit__button
                        a(href='#')
                            | скачать
                            | <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.171L8.37257 3.06108L8.39422 8.19956L9.76694 8.19378L9.73542 0.711765L2.25341 0.743284L2.25919 2.11601L7.39768 2.09436L0.347405 9.20428L1.3223 10.171Z" fill="#4D4D4D"/></svg>
                .certificates__table__unit
                    h5 ECO
                    p Сертификат соответствия на испарители и конденсаторы
                    .certificates__table__unit__button
                        a(href='#')
                            | скачать
                            | <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.171L8.37257 3.06108L8.39422 8.19956L9.76694 8.19378L9.73542 0.711765L2.25341 0.743284L2.25919 2.11601L7.39768 2.09436L0.347405 9.20428L1.3223 10.171Z" fill="#4D4D4D"/></svg>
                .certificates__table__unit
                    h5 Karyer
                    p ДС на испарители, конденсаторы, агрегаты
                    .certificates__table__unit__button
                        a(href='#')
                            | скачать
                            | <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.171L8.37257 3.06108L8.39422 8.19956L9.76694 8.19378L9.73542 0.711765L2.25341 0.743284L2.25919 2.11601L7.39768 2.09436L0.347405 9.20428L1.3223 10.171Z" fill="#4D4D4D"/></svg>
            .certificates__table
                .certificates__table__unit
                    h5 Karyer
                    p ДС на испарители, конденсаторы, маслоохладители
                    .certificates__table__unit__button
                        a(href='#')
                            | скачать
                            | <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.171L8.37257 3.06108L8.39422 8.19956L9.76694 8.19378L9.73542 0.711765L2.25341 0.743284L2.25919 2.11601L7.39768 2.09436L0.347405 9.20428L1.3223 10.171Z" fill="#4D4D4D"/></svg>
                .certificates__table__unit
                    h5 K-Flex
                    p Сертификат соответствия на теплоизоляционные материалы
                    .certificates__table__unit__button
                        a(href='#')
                            | скачать
                            | <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.171L8.37257 3.06108L8.39422 8.19956L9.76694 8.19378L9.73542 0.711765L2.25341 0.743284L2.25919 2.11601L7.39768 2.09436L0.347405 9.20428L1.3223 10.171Z" fill="#4D4D4D"/></svg>
                .certificates__table__unit
                    h5 WTK
                    p ДС на вентиляторы QINGDAO TIANYCOOL
                    .certificates__table__unit__button
                        a(href='#')
                            | скачать
                            | <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.3223 10.171L8.37257 3.06108L8.39422 8.19956L9.76694 8.19378L9.73542 0.711765L2.25341 0.743284L2.25919 2.11601L7.39768 2.09436L0.347405 9.20428L1.3223 10.171Z" fill="#4D4D4D"/></svg>
    block content
        include ../includes/modules/footer

block scripts
    script(src="assets/scripts/main.js")