extends ../layouts/master

block title
  link(rel="stylesheet", href="assets/css/styles.min.css")

block content
  include ../includes/modules/menu

  .container
    .main-page
      .main-page__description
        .main-page__description__information
          h2
            | Правильные и
            span надежные
            |  решения
          h4 Камеры Холодильные, Чиллеры
          .main-page__description__information__buttons
            a(href="#").transparent-button Заказать звонок
            a(href="#").color-button Скачать прайс
        .main-page__description__text
          .main-page__description__text__wrapper
            p «КХЧ» промоборудование в своих комплексных решениях использует современное оборудование, новейшие технологии в области компьютеризации для пищевых, технологических и химических производств.
            p Высочайший уровень подготовки специалистов и накопленный опыт позволяет в кратчайшие сроки и оптимально выгодно для заказчика решать любые технически сложные задачи.
        .main-page__description__buttons
          a(href="#").transparent-button Заказать звонок
          a(href="#").color-button Скачать прайс
  .main-background
  .container
    .main-page.main-page-second
      .main-page__activity-spheres
        h2
          | Сферы деятельности
          <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.5517 35.3105L30.3853 9.25835L30.4646 28.0868L35.4945 28.0656L35.379 0.650018L7.96345 0.765508L7.98465 5.79543L26.813 5.71611L0.979488 31.7683L4.5517 35.3105Z" fill="#6398DC"/></svg>
        p Производство серийных и специальных холодильных установок для промышленности и сельского хозяйства
        block content
          include ../includes/modules/catalog
        p Поставка полного спектра холодильных компонентов, включая компрессора и агрегаты, теплообменное, технологическое оборудование, а также инструмент, автоматику и расходные материалы, монтаж и сервисное обслуживание.
        .main-page__activity-spheres__button
          a(href="#").color-button Скачать прайс
      .main-page__how-we-work
        h2 Как мы работаем
        .main-page__how-we-work__block
          .main-page__how-we-work__block__unit
            h5 Заказ и подбор оборудования
            p При заказе оборудования Вы можете воспользоваться электронным каталогом или получить подробную консультацию у наших специалистов. Так же Вы можете воспользоваться электронным каталогом или получить консультацию наших специалистов.
          .main-page__how-we-work__block__unit
            h5 Оплата
              |#[br] заказа
            p Оплата заказа осуществляется безналичным расчетом при выставлении счета нашим менеджером. При условии комплексных закупок оборудования действует программа дополнительных скидок и специальных предложений.
          .main-page__how-we-work__block__unit
            h5 Доставка
              |#[br] заказа
            p Доставка товара осуществляется по всей территории РФ. Осуществляется транспортными компаниями и рассчитывается по их тарифам. Доставка до транспортной в городе Воронеж за наш счет. Возможен самовывоз.
          .main-page__how-we-work__block__unit
            h5 Монтаж и сервисное обслуживание
            p Для Вашего удобства мы осуществляем монтаж приобретенного у нас оборудования. Также предоставляем услугу по дальнейшему сервисному обслуживанию.
      .main-page__our-advantages
        h2 Наши преимущества
        .main-page__our-advantages__list
          h5 Широкая номенклатура продукции
            span / 01
          h5 Круглосуточный сервис-центр
            span / 02
          h5 Гарантийный и послегарантийный ремонт, техобслуживание
            span / 03
          h5 Строгое соблюдение договорных обязательств
            span / 04
      .main-page__our-advantages
        h2 Наши партнеры
        block content
          include ../includes/modules/our-partners
      block content
        include ../includes/modules/feedback
  block content
    include ../includes/modules/footer



block scripts
  script(src="assets/scripts/main.min.js")
