extends ../layouts/master

block title
    link(rel="stylesheet", href="assets/css/styles.min.css")

block content
    include ../includes/modules/menu
    .container
        .product-card
            .product-card__information
                .product-card__information__image
                    img(src='../../assets/img/catalog-selected1.png')
                .product-card__information__description
                    h3 Компрессор полугерметичный Frascold W75-240Y
                    h4 566391.96 ₽
                    p
                        span 623031.156 ₽
                    p Включая 20% НДС: 94398.66 ₽
                    .product-card__information__description__buttons
                        a(href='#').transparent-button Заказать звонок
                        a(href='#').color-button Скачать прайс
                    span Доставка по городу Воронеж и Центрально
                        |#[br] Черноземному региону - бесплатно.
                        |#[br] Доставка до ТК - бесплатно.
            .product-card__technical-details
                .product-card__technical-details__list
                    h4 Технические характеристики
                    .product-card__technical-details__list__unit
                        p Производитель:
                        span Frascold
                    .product-card__technical-details__list__unit
                        p Модель:
                        span W восьмицилиндровый
                    .product-card__technical-details__list__unit
                        p Тип компрессора:
                        span поршневой
                    .product-card__technical-details__list__unit
                        p По типу конструкции:
                        span полугерметичный
                    .product-card__technical-details__list__unit
                        p Холодопроизводительность, to/tc: -15/+40°C, Вт:
                        span 105 160
                    .product-card__technical-details__list__unit
                        p Хладагент:
                        span R 404 A
                .product-card__technical-details__description
                    h4 Комплект поставки:
                    p олиэфирное масло , всасывающий и нагнетательный вентиль под пайку , электронный модуль INT69 T00ECA01- контроль температуры обмоток двигателя (серии A,B,D), электронный модуль INT 69 Diagnose T00ECA01D – диагностика и контроль темп. обмоток двигателя (серии Q, S) ,электронный модуль INT 69TML Diagnose T00ECA11D - контроль температуры обмоток двигателя и температуры нагнетания (серии V, Z, W), электронный датчик давления масла INT 250FR T00EC1630DRIC - контроль температуры обмоток двигателя и температуры нагнетания (серии V, Z), клеммная коробка IP56 (серии A, B, D, Q, S); IP65 (серии V, Z, W), раздельный пуск PWS 50/50 (серии S, V, Z, W), виброопоры (4 шт.).

            .product-card__catalog
                h4 С этим товаром покупают:
                .catalog-selected__product-table
                    .catalog-selected__product-table__unit
                        img(src='../../assets/img/catalog-selected1.png')
                        .catalog-selected__product-table__unit__body
                            p Компрессор полугерметичный Frascold W75-240Y
                            .catalog-selected__product-table__unit__body__button
                                <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69088 0H0V1.9578H3.15009L5.86164 14.3683H5.87339V14.6835H18.5991V14.4407L20.7458 4.98357L21.0767 3.91559H5.53567L4.9777 1.35969L4.69088 0ZM18.5863 5.87339H5.96345L7.46018 12.7257H17.0309L18.5863 5.87339Z" fill="white"/><path d="M8.80936 19.5777C9.3286 19.5777 9.82657 19.3714 10.1937 19.0043C10.5609 18.6371 10.7672 18.1391 10.7672 17.6199C10.7672 17.1007 10.5609 16.6027 10.1937 16.2355C9.82657 15.8684 9.3286 15.6621 8.80936 15.6621C8.29012 15.6621 7.79215 15.8684 7.42499 16.2355C7.05783 16.6027 6.85156 17.1007 6.85156 17.6199C6.85156 18.1391 7.05783 18.6371 7.42499 19.0043C7.79215 19.3714 8.29012 19.5777 8.80936 19.5777Z" fill="white"/><path d="M17.6207 17.6199C17.6207 18.1391 17.4144 18.6371 17.0472 19.0043C16.6801 19.3714 16.1821 19.5777 15.6629 19.5777C15.1436 19.5777 14.6457 19.3714 14.2785 19.0043C13.9113 18.6371 13.7051 18.1391 13.7051 17.6199C13.7051 17.1007 13.9113 16.6027 14.2785 16.2355C14.6457 15.8684 15.1436 15.6621 15.6629 15.6621C16.1821 15.6621 16.6801 15.8684 17.0472 16.2355C17.4144 16.6027 17.6207 17.1007 17.6207 17.6199Z" fill="white"/></svg>
                        .catalog-selected__product-table__unit__price
                            p 566391.96 ₽
                            span 623031.156 ₽
                    .catalog-selected__product-table__unit
                        img(src='../../assets/img/catalog-selected1.png')
                        .catalog-selected__product-table__unit__body
                            p Компрессор полугерметичный Frascold W75-240Y
                            .catalog-selected__product-table__unit__body__button
                                <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69088 0H0V1.9578H3.15009L5.86164 14.3683H5.87339V14.6835H18.5991V14.4407L20.7458 4.98357L21.0767 3.91559H5.53567L4.9777 1.35969L4.69088 0ZM18.5863 5.87339H5.96345L7.46018 12.7257H17.0309L18.5863 5.87339Z" fill="white"/><path d="M8.80936 19.5777C9.3286 19.5777 9.82657 19.3714 10.1937 19.0043C10.5609 18.6371 10.7672 18.1391 10.7672 17.6199C10.7672 17.1007 10.5609 16.6027 10.1937 16.2355C9.82657 15.8684 9.3286 15.6621 8.80936 15.6621C8.29012 15.6621 7.79215 15.8684 7.42499 16.2355C7.05783 16.6027 6.85156 17.1007 6.85156 17.6199C6.85156 18.1391 7.05783 18.6371 7.42499 19.0043C7.79215 19.3714 8.29012 19.5777 8.80936 19.5777Z" fill="white"/><path d="M17.6207 17.6199C17.6207 18.1391 17.4144 18.6371 17.0472 19.0043C16.6801 19.3714 16.1821 19.5777 15.6629 19.5777C15.1436 19.5777 14.6457 19.3714 14.2785 19.0043C13.9113 18.6371 13.7051 18.1391 13.7051 17.6199C13.7051 17.1007 13.9113 16.6027 14.2785 16.2355C14.6457 15.8684 15.1436 15.6621 15.6629 15.6621C16.1821 15.6621 16.6801 15.8684 17.0472 16.2355C17.4144 16.6027 17.6207 17.1007 17.6207 17.6199Z" fill="white"/></svg>
                        .catalog-selected__product-table__unit__price
                            p 566391.96 ₽
                            span 623031.156 ₽
                    .catalog-selected__product-table__unit
                        img(src='../../assets/img/catalog-selected1.png')
                        .catalog-selected__product-table__unit__body
                            p Компрессор полугерметичный Frascold W75-240Y
                            .catalog-selected__product-table__unit__body__button
                                <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69088 0H0V1.9578H3.15009L5.86164 14.3683H5.87339V14.6835H18.5991V14.4407L20.7458 4.98357L21.0767 3.91559H5.53567L4.9777 1.35969L4.69088 0ZM18.5863 5.87339H5.96345L7.46018 12.7257H17.0309L18.5863 5.87339Z" fill="white"/><path d="M8.80936 19.5777C9.3286 19.5777 9.82657 19.3714 10.1937 19.0043C10.5609 18.6371 10.7672 18.1391 10.7672 17.6199C10.7672 17.1007 10.5609 16.6027 10.1937 16.2355C9.82657 15.8684 9.3286 15.6621 8.80936 15.6621C8.29012 15.6621 7.79215 15.8684 7.42499 16.2355C7.05783 16.6027 6.85156 17.1007 6.85156 17.6199C6.85156 18.1391 7.05783 18.6371 7.42499 19.0043C7.79215 19.3714 8.29012 19.5777 8.80936 19.5777Z" fill="white"/><path d="M17.6207 17.6199C17.6207 18.1391 17.4144 18.6371 17.0472 19.0043C16.6801 19.3714 16.1821 19.5777 15.6629 19.5777C15.1436 19.5777 14.6457 19.3714 14.2785 19.0043C13.9113 18.6371 13.7051 18.1391 13.7051 17.6199C13.7051 17.1007 13.9113 16.6027 14.2785 16.2355C14.6457 15.8684 15.1436 15.6621 15.6629 15.6621C16.1821 15.6621 16.6801 15.8684 17.0472 16.2355C17.4144 16.6027 17.6207 17.1007 17.6207 17.6199Z" fill="white"/></svg>
                        .catalog-selected__product-table__unit__price
                            p 566391.96 ₽
                            span 623031.156 ₽
                    .catalog-selected__product-table__unit
                        img(src='../../assets/img/catalog-selected1.png')
                        .catalog-selected__product-table__unit__body
                            p Компрессор полугерметичный Frascold W75-240Y
                            .catalog-selected__product-table__unit__body__button
                                <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.69088 0H0V1.9578H3.15009L5.86164 14.3683H5.87339V14.6835H18.5991V14.4407L20.7458 4.98357L21.0767 3.91559H5.53567L4.9777 1.35969L4.69088 0ZM18.5863 5.87339H5.96345L7.46018 12.7257H17.0309L18.5863 5.87339Z" fill="white"/><path d="M8.80936 19.5777C9.3286 19.5777 9.82657 19.3714 10.1937 19.0043C10.5609 18.6371 10.7672 18.1391 10.7672 17.6199C10.7672 17.1007 10.5609 16.6027 10.1937 16.2355C9.82657 15.8684 9.3286 15.6621 8.80936 15.6621C8.29012 15.6621 7.79215 15.8684 7.42499 16.2355C7.05783 16.6027 6.85156 17.1007 6.85156 17.6199C6.85156 18.1391 7.05783 18.6371 7.42499 19.0043C7.79215 19.3714 8.29012 19.5777 8.80936 19.5777Z" fill="white"/><path d="M17.6207 17.6199C17.6207 18.1391 17.4144 18.6371 17.0472 19.0043C16.6801 19.3714 16.1821 19.5777 15.6629 19.5777C15.1436 19.5777 14.6457 19.3714 14.2785 19.0043C13.9113 18.6371 13.7051 18.1391 13.7051 17.6199C13.7051 17.1007 13.9113 16.6027 14.2785 16.2355C14.6457 15.8684 15.1436 15.6621 15.6629 15.6621C16.1821 15.6621 16.6801 15.8684 17.0472 16.2355C17.4144 16.6027 17.6207 17.1007 17.6207 17.6199Z" fill="white"/></svg>
                        .catalog-selected__product-table__unit__price
                            p 566391.96 ₽
                            span 623031.156 ₽
    block content
        include ../includes/modules/footer


block scripts
    script(src="assets/scripts/main.js")