extends ../layouts/master

block title
    link(rel="stylesheet", href="assets/css/styles.min.css")

block content
    include ../includes/modules/menu
    .container
        .selection-programs
            h2 Программы подбора оборудования
            .selection-programs__table
                .selection-programs__table__unit
                    .selection-programs__table__unit__description
                        .selection-programs__table__unit__description__information
                            p Программа подбора промышленных и коммерческих холодильных компонентов
                            a(href='#') Скачать
                    .selection-programs__table__unit__image
                        img(src='../../assets/img/partner1.png')
                .selection-programs__table__unit
                    .selection-programs__table__unit__description
                        .selection-programs__table__unit__description__information
                            p Сервисная программа BiTZER Electronics Service Tool (BEST)
                            a(href='#') Скачать
                        .selection-programs__table__unit__description__information
                            p Каталог запасных частей Bitzer (EPARTS)
                            a(href='#') Перейти
                        .selection-programs__table__unit__description__information
                            p Программа подбора оборудование Bitzer Software
                            a(href='#') Перейти
                    .selection-programs__table__unit__image
                        img(src='../../assets/img/partner2.png')
                .selection-programs__table__unit
                    .selection-programs__table__unit__description
                        .selection-programs__table__unit__description__information
                            p Программа подбора продукции Frascold
                            a(href='#') Скачать
                    .selection-programs__table__unit__image
                        img(src='../../assets/img/partner4.png')
                .selection-programs__table__unit
                    .selection-programs__table__unit__description
                        .selection-programs__table__unit__description__information
                            p Программа подбора продукции Guntner
                            a(href='#') Скачать
                    .selection-programs__table__unit__image
                        img(src='../../assets/img/partner5.png')
                .selection-programs__table__unit
                    .selection-programs__table__unit__description
                        .selection-programs__table__unit__description__information
                            p Программа подбора продукции Karyer
                            a(href='#') Скачать
                    .selection-programs__table__unit__image
                        img(src='../../assets/img/partner6.png')
                .selection-programs__table__unit
                    .selection-programs__table__unit__description
                        .selection-programs__table__unit__description__information
                            p Программа подбора продукции
                            a(href='#') Скачать
                    .selection-programs__table__unit__image
                        img(src='../../assets/img/partner7.png')
                .selection-programs__table__unit
                    .selection-programs__table__unit__description
                        .selection-programs__table__unit__description__information
                            p Программа подбора продукции Tecumseh
                            a(href='#') Скачать
                    .selection-programs__table__unit__image
                        img(src='../../assets/img/partner8.png')
                .selection-programs__table__unit
                    .selection-programs__table__unit__description
                        .selection-programs__table__unit__description__information
                            p Программа подбора продукции WTK
                            a(href='#') Скачать
                        .selection-programs__table__unit__description__information
                            p Программа подбора продукции WTK
                            a(href='#') Перейти
                    .selection-programs__table__unit__image
                        img(src='../../assets/img/partner9.png')
                .selection-programs__table__unit
                    .selection-programs__table__unit__description
                        .selection-programs__table__unit__description__information
                            p Подбор соленоидных вентилей Alco Selection Software
                            a(href='#') Скачать
                    .selection-programs__table__unit__image
                        img(src='../../assets/img/partner10.png')
    block content
        include ../includes/modules/footer

block scripts
    script(src="assets/scripts/main.js")